@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: #F5F7FA;
}

a {
    color: #555;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.content {
    width: 100%;

    .main {
        padding: 10px;
    }
}

.pusher {
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
}

.outerMain {
    flex: 1;
}