.container {
    display: flex;
    background: #00C549;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.item {
    padding: 10px 15px;
    cursor: pointer;

    &:hover {
        background: #02ff5f;
        color: #fff;
    }
}