@import url('https://fonts.googleapis.com/css?family=Raleway:100');

.container {
    background: #EAF3E6 url('/assets/bg.jpg') no-repeat center center;
    min-height: 600px;
}

.topBar {
    background: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
}

.welcomeText {
    color: #fff;
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    width: 80%;
    font-weight: 100;
}

p {
    line-height: 1.6em;
}