.box {
    background: #fff;
    padding: 20px;
    color: #52575A;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 48px -17px rgba(51,51,51,0.42);
    -moz-box-shadow: 0px 0px 48px -17px rgba(51,51,51,0.42);
    box-shadow: 0px 0px 48px -17px rgba(51,51,51,0.42);
}
