.container {
    width: 100%;
    background: #292F37;
    margin-top: 100px;
    padding: 60px 10px;
    color: #fff;
    text-align: center;

    a {
        color: #4574CD;
    }

    .copyright {
        margin-bottom: 10px;
    }
}