.container {
    background: url('/assets/like_follow_bg.jpg');
    padding: 30px;
    text-align: center;
}

.inner {
    background: #fff;
    padding: 10px;
    display: inline-block;

    img {
        margin-bottom: 10px;
    }
}