.header {
    background: #fff;
    height: 80px;
    color: #A4ACB1;

    h5 {
        color: inherit;
    }
}

.content {
    display: flex;
    justify-content: space-between;
}

.node {
    flex: 0 0 33%;
    line-height: 80px;
}

.right {
    text-align: right;
}

.drawerIcon {
    border-left: 1px solid #eee;
    padding: 0 25px;
    line-height: 80px;
    cursor: pointer;
}

.user {
    line-height: 80px !important;
    margin-right: 20px !important;
}

.menu {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 20px;

    li {
        float: left;
        letter-spacing: 0.2em;

        a {
            margin-right: 20px;
        }
    }
}
